<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
<head>
    {{ partial "head" . }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body class="sans-serif bg-gray-50">
    {{ block "header" . }}{{ partial "nav" . }}{{end}}
    {{ block "main" . }}{{ end }}
    {{ block "footer" . }}{{ partial "footer" . }}{{end}}
    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}
    <script>
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>
</body>
</html>
